{
  "presets": ["jest","@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    "css-modules-transform",
    "file-loader",
    "@babel/plugin-transform-runtime"
  ]
}
